# Dependencies
node_modules/
.pnpm-store/
.venv/
env.d.ts

# Astro build outputs
dist/
.astro/

# Environment files and secrets
.env
.env.*
!.env.example
cookies.txt
browser.json

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Python caches and local db
__pycache__/
*.pyc
instance/
users.db
